.contact {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  text-align: center;
  color: #333;
  font-family: Arial, sans-serif;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
}

input[type="email"],
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  border: 1px solid #1900ff;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #6252f7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0400f5;
}

input[type="submit"]:focus {
  outline: none;
}

input[type="submit"]:active {
  background-color: #1900ff;
}

textarea {
  resize: vertical;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.error-message {
  color: #d50000;
  margin-top: 5px;
  font-size: 12px;
}
